h1 {
    body {
        font-family: "Arial", "Meiryo", sans-serif;
      }
      .google-fonts {
        font-family: "Josefin Sans", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      }

    .blue {
        color: skyblue;
    }
    .pink {
        color: rgb(255,192,203);
    }
}   

h1 {
        text-align:center;
        letter-spacing: 1.2em;
        border-bottom: solid black;
        text-shadow: 3px 3px 3px gray;
        font-size: 2em;
}

html {
        font-size: 20px;
        text-align:center;
  }
.pink{
  color: rgb(255,192,203);
}

.blue{
  color: skyblue;
}
#basic > p {
  font-weight: bold; 
}