@media screen and (max-width: 768px) {
   div {
       display: flex;
   }
}
h1{
   background-color: rgb(244, 79, 79);
   color: rgb(255, 255, 255);
   margin: 0px 0px 20px 0px;
   text-align: center;
}
main {
   display: inline-block;
   padding: 10px;
   margin: 10px;
}
#parent {
   display: Flex;
   justify-content: space-around;
}
.contents {
   flex-basis: 25%;
   border: 3px solid rgb(238, 204, 204);
   margin: 10px 15px;
   padding: 20px 0px;
   box-sizing: border-box;
   text-align: center;
}
.contents > h2 {
   font-size: 25px;
   position: relative;
}
.contens > h2::before {
   position: absolute;
   content: "â—";
   color: rgb(239, 111, 139);
}
.contents > h2::after {
   content: '';
   position: absolute;
   border-bottom: 3px dotted rgb(236, 122, 122);
   left: 0;
   right: 0;
   margin: 0 auto;
   bottom:0;
   width: 90%;
 }
